html {
  height: 100%;
  box-sizing: border-box;
}
*:after {
  box-sizing: inherit;
}

body {
  background-color: #F2F1E8;
  margin: 0;
  padding: 0;
  line-height: 45px;
}

.navigation-top{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #FFFFFF;
  }

.yo{position: absolute;}

.nav{
  display: flex;
  justify-content: space-around;
  padding: 0 400px;
  color: black;
  margin: 10px;
  list-style: none;
  text-decoration: underline;
  font-size: 28px;
}

.nav-bar{
  padding: 0 10px
}

a{
  color:#2B2F26;
  font-family: "Roboto"
}
a:hover{
  color:#CD5D67;
}

.active{
  color:#968772;
}

.text-link{
  color:#968772;
}

.text-link:hover{
  color: #967343
}

header{
  padding-top: 50px
}

.title-header{
  height: 100px;
  font-size: 58px;
  text-align: center;
  top: 100px;
  font-family: "Merriweather", serif;
  font-weight: normal;
}

.image-1 {
  margin: 0 10px 10px 0;
  font-size: 24px;
  height: 272px;
  width: 915px;
  margin: 0 206px;
  text-align: left;
  font-family: "Roboto"
}

.paragraph-image{
  float: left;
  margin: 0 30px 5px 0;
  background-size: 160px 160px;
  height: 160px;
  width: 160px;
  background-repeat: no-repeat;
}

.paragraph-2{
  text-align: left;
  padding: 0px 30px;
  border-left-style: solid;
  margin: 80px 206px;
  font-size: 20px;
  font-weight: lighter;
  color: #131511;
  font-family: "Merriweather", serif;
}

.paragraph-3-title{
  font-size: 30px;
  margin: -10px 0;
}

.paragraph-3{
  margin: 0 206px;
  font-size: 25px;
  font-family: "Roboto", serif;
}

.banner-img{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  background-color: red;
  background-image: url("optimized/background-3.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.image-title{
  color: white;
  font-size: 85px;
  font-weight: 400;
  text-align: center;
  font-style: normal;
}

.paragraph-4-title{
  font-size: 30px;
  margin: 37px 0 -20px 0;
  font-family: "Merriweather", serif;
  font-weight: lighter;
}

.image-and-text{
  display: flex;
  flex-direction: row;
  background-repeat: no-repeat;
  margin: 0 206px;
  font-size: 28px;
  font-family: "Roboto", serif;
}
/*.image32 {
  object-fit: cover;
}*/
.right {
  float: right;
  width: 160px;
  margin-top: 110px;
  font-size: 12px;
  line-height: 18px;
  font-family: "Merriweather", serif;
}

.table{
  margin: 0 206px;
  font-size: 28px;
  font-family: "Merriweather", serif;
  font-weight: lighter;
}

.table p{
  font-size: 40px;
  margin: 20px 0;
}

table{
  border-collapse: collapse;
  margin-bottom: 50px
}

td, th{
  border: 1px solid black;
  padding: 10px 20px;
}

tr:nth-child(odd){
  background-color: white;
}

tr:nth-child(odd){
  background-color: #F2EADC;
}

.bottom-nav p{
  height: 30px;
  background-color: #2A2E25;
  color: white;
  padding: 40px 20px;
  font-size: 28px;
}
