html {
  height: 100%;
  box-sizing: border-box;
}
*:after {
  box-sizing: inherit;
}

body {
  background-color: #F2F1E8;
  margin: 0;
  padding: 0;

}

.navigation-top{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #FFFFFF;
}

.yo{position: absolute;}

.nav{
  display: flex;
  justify-content: space-around;
  padding: 0 400px;
  color: black;
  margin: 10px;
  list-style: none;
  text-decoration: underline;
  font-size: 28px;
}

.nav-bar{
  padding: 0 10px
}

a{
  color:#2B2F26;
  font-family: "Roboto"
}
a:hover{
  color:#CD5D67;
}

.active{
  color:#968772;
}

.page-title{
  display: inline;
  height: 100px;
  font-size: 52px;
  text-align: center;
  top: 100px;
  font-family: "Merriweather"
}
h4{
  margin-bottom: -55px;
  font-size: 75px;
  font-weight: lighter;
}

h5{
  font-weight: lighter;
}

.chart-of-images{
  display: flex;
  padding: 0 20px;
}
img{
  position: relative;
  object-fit: cover;
}
p{
  background-color: #2A2E25;
  color: #F2F1E8;
  margin: -103px 0px;
  padding: 17px;
  font-size: 28px;
  position: absolute;
  font-family: ""
}

.image-one{
  padding: 10px 10px;
}

.chart-of-images-bottom{
  display: flex;
  padding: 0 20px;
}

.bottom-nav{
  bottom: 0;
  width: 100%;
  background-color: #2A2E25;
  color: white;
  padding: 1px 20px;
  font-size: 28px;
}
